@charset "utf-8";

input:focus {
    border: 2px solid #1C94C4;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0px 0px 10px #1C94C4;
    -webkit-box-shadow: 0px 0px 10px #1C94C4;
    box-shadow: 0px 0px 10px #1C94C4;
}

#header {
    width: 520px;
    background-color: #ddd;
    border: 2px solid #1C94C4;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    position: relative;
    z-index: 1;
    background: url(images/greyglass.png) repeat-x scroll 50% 50%;
}

#header h1 {
    text-shadow: 0px 0px 20px #fff;
    -moz-text-shadow: 1px 1px 20px #fff;
    -webkit-text-shadow: 1px 1px 20px #fff;
    color: #333;
}

#wrapper {
    width: 460px;
    background-color: #ccc;
    border: 2px solid #888;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 30px;
    padding-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    text-align: center;
    background-image: url(background.png);
}

#wrapper span {
    font-size: 9pt;
}

#info {
    color: #555;
}

#formbox {
    width: 400px;
    background-color: #eee;
    border: 2px solid #ddd;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    padding: 7px;
    text-align: center;
    height: 132px;
}

#formbox p {
    font-weight: bold;
}

#formbox input {
    float: right;
}

#formbox input[type="submit"]{
    float: none;
}

#warningbox {
    display: block;
    height: 15px;
    min-width: 1px;
    padding-bottom: 4px;
}

#warning {
    color: #f00;
}

#testwrapper {
    width: 460px;
    background-color: #ddd;
    border: 2px solid #888;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 30px;
    padding-top: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    text-align: center;
    background-image: url(background.png);
    font-size: 9pt;
}

#testwrapper h1 {
    color: #444;
    border-bottom: 1px solid #444;
}

#testbox {
    width: 400px;
    background-color: #fff;
    border: 2px solid #ddd;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    padding: 7px;
    text-align: left;
    overflow: hidden;
}

#testbox div p {
    float: left;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    margin-left: 5px;
    clear: both;
}

#testbox textarea {
    width: 400px;
    margin: auto;
}

.question {
    overflow: hidden;
    margin-left: 5px;
}

.question input {
    float: left;
    margin-top: 15px;
}

#oses {
    overflow: hidden;
    width: 750px;
}

.oswrapper {
    height: 220px;
    width: 200px;
    background-color: #eee;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0px 0px 20px #aaa;
    -webkit-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #aaa;
    float: left;
    margin: 7px;
    border: 1px solid #eee;
}

.oswrapper img {
    width: 160px;
    margin: 20px;
    border: 2px solid #ddd;
    margin-bottom: 0px;
}

.oscaption {
    width: 200px;
    height: 20px;
}

.oscaption p {
    width: 200px;
    text-align: center;
    margin: 0px;
    float: none;
    font-weight: bold;
}

.centered {
    width: 400px;
    text-align: center;
    clear: both;
}
